/* Look into media queries for dynamic css stuff */ 

html 
{
  font-family: Arial, Helvetica, sans-serif
}

p, li 
{
  font-family: "Times New Roman", Times, serif
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}

html 
{
  background-color: white;
  font-size: 40px;
}

body 
{
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: white;
  color: black;
  font-size: 15px;
  /*padding: 0 20px 20px 20px;*/
}

h1 
{
  font-size: 50px;
  text-align: left;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 0px;
  color: black;
  margin-top: 50px;
  margin-bottom: 0;
}

h2 
{
  font-size: 20px;
  text-align: left;
  padding-right: 10px;
  padding-left: 0px;
  color: grey;
  position: relative;
  margin-top: 0;
  margin-bottom: 0px;
}

h3
{
  font-size: 15px;
  text-align: right;
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 0px;
  margin-bottom: 0px;
  position: relative; 
  bottom: -30px; 
}

h4
{
  font-size: 30px;
  text-align: left;
  margin: 0 auto;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}

h5
{
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

h6
{
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

p
{
  padding-left: 15px;
  padding-right: 0px;
  color: grey; 
}

img 
{
  display: block;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
}


hr 
{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.row
{
  display: table;
  width: 100%;
}

.columnside
{
  display: table-cell;
  padding: 25px;
  width: 20%; 
}

.columnheader
{
  padding-top: 0%;
  display: table-cell;
  width: 30%; 
}

.column
{
  padding-top: 0%;
  width: 50%;
  display: table-cell;
  float: left; 
}

.columngameimg
{
  padding-top: 2%;
  padding-bottom: 2%;
  float: left; 
  width: 32%;
  display: table-cell;
}

.columngamedes
{
  padding-top: 2%;
  padding-bottom: 2%;
  float: left; 
  width: 68%;
  display: table-cell;
}

.columnmiscbox
{
  float: left; 
  width: 30.666%;
  display: table-cell;
}

.columnporfoliosplitter
{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 30%;
  display: table-cell;
}

.columnporfoliosplitter:hover
{
  filter: brightness(1.5);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding-left: 30%;
  padding-right: 30%;
}

/* Font Control Stuff */
    A
    {
      text-decoration: none; 
    } 
    C
    {
      text-decoration: none;
      color: black; 
      padding-right: 0px;
      padding-left: 20px;
      font-size: 25px;
    }
    D
    {
      text-decoration: none;
      color: grey; 
      padding-right: 0px;
      padding-left: 20px;
    }
    E
    {
      text-decoration: none;
      color: black; 
    }
    F
    {
      text-decoration: none;
      color: black; 
      padding-right: 0px;
      padding-left: 5px;
      font-size: 18px;
    }

    /* Scroll Bar Stuff */
    ::-webkit-scrollbar 
    {
      width: 10px;
    }
    ::-webkit-scrollbar-track 
    {
      background: #f1f1f1; 
    }
    ::-webkit-scrollbar-thumb 
    {
      background: #888; 
    }
    ::-webkit-scrollbar-thumb:hover 
    {
      background: #555; 
    }

        /* Custom Button Stuff */
    .buttonTaBUnSel 
    {
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: grey; 
      border-radius: 3px;
    }
    .buttonTaBYeSel 
    {
      border: none;
      color: #d1ffd2;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: #00aa00; 
      border-radius: 14px;
    }
    .buttonR3UnSel 
    {
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: grey; 
      border-radius: 3px;
    }
    .buttonR3YeSel 
    {
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: #0000d1; 
      border-radius: 14px;
    }
    .buttonLoFUnSel 
    {
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: grey; 
      border-radius: 3px;
    }
    .buttonLoFYeSel 
    {
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: #2e7630; 
      border-radius: 14px;
    }
    .buttonSSUnSel 
    {
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: grey; 
      border-radius: 3px;
    }
    .buttonSSYeSel 
    {
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: #f41818; 
      border-radius: 14px;
    }
    .buttonFaUnSel 
    {
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: grey; 
      border-radius: 3px;
    }
    .buttonFaYeSel 
    {
      border: none;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;

      background-color: #195195; 
      border-radius: 14px;
    }