/* Look into media queries for dynamic css stuff */ 

html 
{
  font-family: Arial, Helvetica, sans-serif
}

p, li 
{
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 5vw;
  line-height: 2;
  letter-spacing: 1px;
}

html 
{
  background-color: white;
  font-size: 40px;
}

body 
{
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: white;
  color: black;
  font-size: 15px;
  /*padding: 0 20px 20px 20px;*/
}

h1 
{
  font-size: 50px;
  text-align: left;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 0px;
  color: black;
  margin-top: 50px;
  margin-bottom: 0;
}

h2 
{
  font-size: 20px;
  text-align: left;
  padding-right: 10px;
  padding-left: 0px;
  color: black;
  position: relative;
  margin-top: 0;
  margin-bottom: 0px;
}

h3
{
  font-size: 15px;
  text-align: right;
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 0px;
  margin-bottom: 0px;
  position: relative; 
  bottom: -30px; 
}

h4
{
  font-size: 30px;
  text-align: left;
  margin: 0 auto;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}

h5
{
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

h6
{
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

p
{
  padding-left: 15px;
  padding-right: 0px;
  color: #D5D9DE; 
}

img 
{
  display: block;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

hr 
{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.modal 
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 2.5%; /**/
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content 
{
  background-color: whitesmoke;
  padding-right: 10px; /**/
  margin: auto;
  border: 1px solid #00000050; 
  width: 75%;
  height: 90%;
}

/* The Close Button */
.close 
{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus 
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35vh;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover, 
.prev:focus, 
.next:focus
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.caption-text 
{
  color: #f2f2f2;
  font-size: 20px;
  text-align: center;
  padding: 8px 12px;
  position: absolute;
}


.caption-container 
{
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo 
{
  /*opacity: 0.6;*/
}

.active,
.demo:hover 
{
  /*opacity: 1;*/
}

.hover-shadow:hover 
{
  box-shadow: 5px 10px 18px #00000081;
}

.scrollDiv
{
  max-height: 70vh; 
  overflow: hidden;
}

/* Here may be dragons */ 

.row
{
  display: table;
  width: 100%;
}

.columnside
{
  display: table-cell;
  padding: 25px;
  width: 20%; 
}

.columnheader
{
  padding-top: 0%;
  display: table-cell;
  width: 30%; 
}

.column
{
  padding-top: 0%;
  width: 50%;
  display: table-cell;
  float: left; 
}

.columngameimg
{
  padding-left: 5vw;
  float: left; 
  width: 20vw;
  display: table-cell;
}

.columngamedes
{
  padding-left: 2vw;
  padding-right: 2vw;
  float: left; 
  width: 40vw;
  display: table-cell;
}

.columnmiscbox
{
  float: left; 
  width: 30.666%;
  display: table-cell;
}

.columnporfoliosplitter
{
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 30%;
  display: table-cell;
}

.columnporfoliosplitter:hover
{
  filter: brightness(1.5);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding-left: 30%;
  padding-right: 30%;
}

/*Anim Stuff*/
body 
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes spriteA 
{
  to { background-position: -2810px }
}

.animA 
{
  background: url("file:///C:/Users/hunte/Documents/GitHub/Website-Gerardo/images-misc/YetiSheet.png");
  background-size: 800%;
  animation: spriteA 0.75s steps(8) infinite;
  animation-play-state: running;
}

@media only screen and (min-width: 1024px) 
{
  .animA 
  {
    transform: scale(1);
  }
}

.animA:active 
{
  animation-play-state: paused;
}

.hunterlink
{
  color: #D5D9DE;
}

.hunterlink:hover
{
  color: #39536D;
}

/* Email Copy */
.tooltip 
{
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext 
{
	visibility: hidden;
	width: 11vw;
	font-size: 1vw;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -5.5vw;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after 
{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext 
{
	visibility: visible;
	opacity: 1;
}

.btn 
{
	border: none;
	background-color: inherit;
	cursor: pointer;
	display: inline-block;
}

.box 
{
	position: relative;
	width: 50%;
}
.box:before 
{
	content: "";
	float: left;
	padding-top: 100%;
}
.content 
{
	float: left;
}

/* Font Control Stuff */
A
{
	text-decoration: none; 
} 
C
{
	text-decoration: none;
	color: black; 
	padding-right: 0px;
	padding-left: 20px;
	font-size: 25px;
}
D
{
	text-decoration: none;
	color: black; 
	padding-right: 0px;
	padding-left: 20px;
}
E
{
	text-decoration: none;
	color: black; 
	font-size: 17px;
}
F
{
	text-decoration: none;
	color: black; 
	padding-right: 0px;
	padding-left: 5px;
	font-size: 18px;
}

/* Scroll Bar Stuff */
::-webkit-scrollbar 
{
	width: 10px;
}
::-webkit-scrollbar-track 
{
	background: #f1f1f1; 
}
::-webkit-scrollbar-thumb 
{
	background: #888; 
}
::-webkit-scrollbar-thumb:hover 
{
	background: #555; 
}

	/* Custom Button Stuff */
.buttonTaBUnSel 
{
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	background-color: dimgray; 
	border-radius: 3px;
}
.buttonTaBYeSel 
{
	border: none;
	color: #d1ffd2;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;

	background-color: #00aa00; 
	border-radius: 14px;
}
.buttonR3UnSel 
{
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: dimgray; 
	border-radius: 3px;
}
.buttonR3YeSel 
{
	border: none;
	color: yellow;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #0000d1; 
	border-radius: 14px;
}
.buttonLoFUnSel 
{
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: dimgray; 
	border-radius: 3px;
}
.buttonLoFYeSel 
{
	border: none;
	color: palegoldenrod;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #2e7630; 
	border-radius: 14px;
}
.buttonSSUnSel 
{
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: dimgray; 
	border-radius: 3px;
}
.buttonSSYeSel 
{
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #f41818; 
	border-radius: 14px;
}